@import "./colors.scss";

.shadow-color {
  color: $color-black;
  opacity: 0.2;
}

.card {
  width: 20rem;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: box-shadow 0.2s ease-in-out, transform 0.35s ease-in-out;
  &:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)
  }

  .card-blog {
    height: 25rem;
  }

  .card-event {
    height: 27rem;
  }

  .card-webina {
    height: 30rem;
  }

  .author-name {
    font-family: "Roboto Medium";
  }

  .datetime {
    position: absolute;
    bottom: 60px;
  }

  .button {
    position: absolute;
    bottom: 10px;
  }

  .card-height {
    .cell {
      display: flex;
      align-items: stretch;
    }
  }
  
  .row.align-items-stretch .card:only-of-type { 
    height: 100%; 
  }
  
  .card-img-top {
    border-radius: 5px 5px 0px 0px;
    height: 180px;
    width: 100%;
    object-fit: cover;
    object-position: center center;
  }
  
  .card-description {
    font-family: "Roboto Regular";
    font-size: 15px;
  }
  
  .card-tag {
    background: $tag-background-light;
    font-size: 11px;
    width: fit-content;
    margin-right: 0.3rem;
    margin-bottom: 0.5rem;
  }
  
  .row a {
    text-decoration: none;
  }
  
  .card-datetime {
    margin-left: 5px;
    font-family: "Roboto Regular";
    font-size: 15px;
  }
  
  .card-btn {
    background: $card-btn-background-active;
    color: $color-white;
    font-family: "Roboto Regular";
    border-radius: 5px;
  }
  
  .card-btn:hover {
    background: $card-btn-background-hover;
    color: $color-white;
    font-family: "Roboto Bold";
  }
  
  .card-btn:focus, .card-btn:active {
    outline: none !important;
    box-shadow: none;
  }
  
  .card-btn::after {
    background: $card-btn-background-active;
  }

  // Breakpoints
  @include media('<=phone') {
    
  }
}
