$color-white: #ffffff;
$color-black: #000000;
$primary-color-active: #0e940c;
$primary-color-hover: #0e940c;
$primary-color-light: #05ff00;

// Navbar
$light-navbar-background: #f6f5ff;

// Footer
$subscribe-input-background: #464141;
$footer-section-background: #1f1f22;
$footer-copywrite-area-background: #121213;

// Card
$tag-background-light: #94f39d;
$card-btn-background-active: #0e940c;
$card-btn-background-hover: #0f690e;